.welcome-main-container {
    background-color:#FFFBDE;
    border-radius: 30px;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.welcome-left-container {
    width: 60%;
}

.welcome-right-container {
    width: 40%;
}

/*
.mng-text {
    font-family: Inter;
    font-size: 23.52px;
    font-weight: 600;
    /*color: darkcyan;
    color:#9929EA;
    text-align: center;
}
*/
/* Existing styles for .mng-text */
.mng-text {
    font-family: poppins,sans-serif;
    font-size: 23.52px;
    font-weight: 600;
    color: #9929EA;
    text-align: center;
    /* white-space: nowrap;
    overflow: hidden;
    display: inline-block; */
}

/* Typing cursor animation */
.cursor {
    display: inline-block;
    animation: blink 0.7s infinite;
    color: #9929EA; /* Match the text color */
    font-weight: 600;
    font-size: 23.52px;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}




.mng-para {
    font-family: Inter;
    font-size: 19.6px;
    font-weight: 400;
    color: grey;
    text-align: center;
}

.welcome-right-container {
    display: flex;
    justify-content: center;
}

.welcome-img {
    height: 100%;
    width: 50%;
}